{% extends "base.html" %}
{% load static %}

{% block react_components %}
<script type="text/babel">
    {% include "components/theme_context.js" %}
    {% include "components/auth_context.js" %}
    {% include "components/auth_modal.js" %}
    {% include "components/header.js" %}
    
    {% include "articles_page/article_card.js" %}
    {% include "articles_page/articles_page.js" %}
    {% include "articles_page/article_detail.js" %}
    
    function ArticlesRouter() {
        const [route, setRoute] = React.useState(window.location.hash || '#/');
    
        React.useEffect(() => {
            const handleHashChange = () => {
                setRoute(window.location.hash);
            };
            window.addEventListener('hashchange', handleHashChange);
            return () => window.removeEventListener('hashchange', handleHashChange);
        }, []);
    
        const path = route.replace('#', '');
    
        if (path === '/' || path === '') {
            return <ArticlesPage />;
        }
    
        const match = path.match(/^\/(\d+)$/);
        if (match) {
            const id = match[1];
            return <ArticleDetail id={id} />;
        }
    
        return <ArticlesPage />;
    }    
    
    function App() {
        return (
            <ThemeProvider>
                <AuthProvider>
                    <Header />
                    <ArticlesRouter />
                    <AuthModal />
                </AuthProvider>
            </ThemeProvider>
        );
    }
    
    const root = ReactDOM.createRoot(document.getElementById('root'));
    root.render(<App />);
</script>
{% endblock %}